@model BookFixx.database.User

@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Edit User</h2>

@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.UserID)

    <div class="form-group">
        @Html.LabelFor(model => model.Username)
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Username)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TC)
        @Html.TextBoxFor(model => model.TC, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TC)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.LastName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.phoneNumber)
        @Html.TextBoxFor(model => model.phoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.phoneNumber)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Role)
        @Html.TextBoxFor(model => model.Role, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Role)
    </div>

    <input type="submit" value="Save" class="btn btn-primary" />
    @Html.ActionLink("Cancel", "Index", new { @class = "btn btn-secondary" })
}
